@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

.fit-account {
    height: 91vh !important;
    margin: 0px !important;
}

.fit2-account {
    height: 71vh;
}

.titleBar h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.sidebar-account {
    height: -webkit-fill-available;
    border-radius: 10px;
    box-shadow: 2px 4px 4px #cecece;
    background-color: #F4F4F4;
    margin-left: 22%;
}

.profile__image img {
    border-radius: 50%;
    overflow: hidden;
}

.name h1 {
    color: black;
    font-weight: 400;   
}

.email p {
    font-weight: 400;
    color: black;
}

.edit-icon path {
    fill: #598FE7 !important;
}

.image-container {
    overflow-x: auto;
    display: inline-block;
    max-width: 100%;
}

.images-account {
    height: 100%;
    margin-top: 40px;
    padding: 0px 0px 0px 20px;
    overflow: hidden;
}

.saved-images h2 {
    font-weight: 400;
}

.account h1 {
    font-weight: 600;
}