@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

.fit__generate {
    height: 91vh !important;
    margin: 0px !important;
}

.fit2__generate {
    height: 85vh;
}

/* .generated {
    padding: 60px 5px 60px 5px;
}

    .generated__image {
        object-fit: cover;
        display: block;
        width: 30em;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 3px 5px 3px #00000041;
    }

.edition {
    padding: 10px 20px 10px 20px;
} */