@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
    color: #5763DD;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}

.background {
    background-color: #F5F6F8;
}

.fit__generate {
    height: 91vh !important;
    margin: 0px !important;
}

.fit2__generate {
    height: 85vh;
}

.titleBar h1 {
    font-family: 'Montserrat';
    font-weight: 600;
}

.titleBar h3 {
    font-family: 'Montserrat';
    font-weight: 600;
}

.generated {
    padding: 60px 5px 60px 5px;
}

    .generated__image {
        object-fit: cover;
        display: block;
        width: 30em;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 3px 5px 3px #00000041;
    }

.edition {
    padding: 10px 20px 10px 20px;
}


.edit__title {
    height: fit-content;
}
    .edit__title h1 {
        font-weight: 600;
        padding: 0px 100px 0px 100px;
    }

.sliders {
    height: fit-content;
    flex-direction: column;
}

.slider input {
    width: 50%;
}

.edit__title {
    color: black;
    font-weight: 600;
}

.actualValue {
    background-color: white;
    padding: 1px 8px 1px 8px;
    box-shadow: 2px 3px #72727241;
    color: black;
    font-weight: 400;
    font-size: 1em;
    border-radius: 5px;
}

.buttons {
    color: white;
    font-weight: 600;
}
    .generate__image {
        background-color: #5763DD;
        padding: 10px 40px 10px 40px;
        border-radius: 10px;
    }

    .generate__image:hover {
        background-color: #4b55bd;
    }

    .save__image {
        background-color: #6FCA67;
        padding: 10px 40px 10px 40px;
        border-radius: 10px;
    }

    .save__image:hover {
        background-color: #5da357;
    }

.images__left p {
    font-weight: 500;
    color: black;
}

.images__left b {
    color: black;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #626ddf;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #6e76dd;
}
::-webkit-scrollbar-thumb:active {
  background: #5e67e4;
}
::-webkit-scrollbar-track {
  background: #f5f6f8;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #f5f6f8;
}
::-webkit-scrollbar-track:active {
  background: #f5f6f8;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
