.image-background {
    background: url('../img/home_image.png');
    background-position-y: bottom;
    background-position-x: right;
    background-size: 55%;
    background-repeat: no-repeat;
}

.clip-background {
    -webkit-clip-path: polygon(0 8%, 0% 105%, 105% 8%);
    clip-path: polygon(0 8%, 0% 105%, 105% 8%);
}