@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.welcome {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}