@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

.ignite {
    font-weight: 700;
}

.boton {
    background-color: #5763DD;
    border-radius: 15px;
    cursor: pointer;
}

.logo {
    width: 60%;
}

.indigo {
    background-color: #5763DD;
    color: white;
    padding: 3px 12px 3px 12px;
    border-radius: 10px;
}

.account{
    background-image: url(../img/generic.png);
    background-size: cover;
    height: 40px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0);
}

.header{
    height: 60px;
}

.mainPageHeader{
    background-color: #4C51BF;
}

.mainPageHeader > .boton {
    background-color: #ffffff;
    border-radius: 15px;
    cursor: pointer;
}