@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

* {
    color: #5763DD;
    font-family: 'Quicksand', sans-serif;
}

.background {
    background-color: #F5F6F8;
}

.ignite {
    font-weight: 700;
}

.boton {
    background-color: #5763DD;
    border-radius: 15px;
    cursor: pointer;
}

.logo {
    width: 50%;
}

.active span {
    background-color: #5763DD;
    color: white;
    padding: 3px 12px 3px 12px;
    border-radius: 10px;
}